#mensaje {
	position:absolute;
	padding: 5px;
	top: 100px;
	left: 25px;
	width:165px;
	height:auto;
	z-index: 1500;
	border: red 2px solid;
	font: 12px Arial; 
	background-color: #DCDCDC; 
	text-align: center;
	opacity: 0.7;
}
h3 { 
	background-color: red; 
	color: white; 
	text-align: center;
}
#anclaCerrar {
	display: block;
	position:relative;
	background-color: red;
	color: white;
	border: none;
	width: 150px;
	left: 0;
	text-decoration: none;
}
#anclaCerrar:hover {
	border-left: 3px solid red;
}
#anclaCerrar img {
   border: none;
}
#instalado {
	position:absolute;;
	top: 422px;
	left: 685px;
	width:150px;
	height:50px;
	z-index: 1500;
	border: none;
	font: 12px Arial; 
	background-color: white; 
	color: red;
	text-align: center;
	opacity: 0.7;
}
#noinstalado {
	position:absolute;;
	top: 422px;
	left: 685px;
	width:150px;
	height:50px;
	z-index: 1500;
	border: none;
	font: 12px Arial; 
	background-color: transparent; 
	color: red;
	text-align: center;
	opacity: 0.7;
}

