.titencayu {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #003366}
.tittabdat {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #A4BEE4}
.textabcon {  font-family: Arial, Helvetica, sans-serif; font-size: 11px}
.textabconbol { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.numtabcon { font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-weight: bold ; color: #A4BEE4}
.textabconrojo { font-family: Arial, Helvetica, sans-serif; font-size: 11px ; color: #FF0000}
.titencayurojo {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FF000D}
.titencayurojog {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #FF000D}
h3 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-style: italic;
	font-variant: small-caps;
	font-stretch: expanded;
	color: #003366;
	text-align: left;
	margin-bottom: -8px;
}
hr#abajo {
	background-color: #A4BEE4;
	height: 7px;
	margin-top: -5px;
	border: none;
}
hr#arriba {
	background-color: #A4BEE4;
	height: 3px;
	border: none;
}
img#glo25030 {
	margin-top: -8px;
	margin-bottom: -10px;
	margin-left: -10px;
}
hr#abajoRojo {
	background-color: #FF000D;
	height: 7px;
	margin-top: -5px;
	border: none;
}
hr#arribaRojo {
	background-color: #FF000D;
	height: 3px;
	border: none;
}