
body{
	width: 950px;
	height: 500px;
	margin-left: 25px;
	margin-top: 0px;
}
div#encabezado{
	width: 100%;
	height: 25%;
}
div#encabezado div#arriba{
	width: 100%;
	height: 40px;
	padding: 0px;
}
img#glo25010{
	border: none;
	height: 40px;
	margin-bottom: 5px;
}
a#gbo25110a{
	border: none;
	text-decoration: none;
}
img#gbo25110{
	border: none;
	margin-bottom: 12px;
	margin-left: -4px;
}
img#gbo25120{
	margin-bottom: 25px;
	margin-left: -4px;
}
a#gbo25130a{
	border: none;
	text-decoration: none;
}
img#gbo25130{
	border: none;
	margin-bottom: 12px;
	margin-left: -5px;
}
img#gbo25140{
	margin-bottom: 25px;
	margin-left: -4px;
}
a#gbo25150a{
	border: none;
	text-decoration: none;
}
img#gbo25150{
	border: none;
	margin-bottom: 12px;
	margin-left: -4px;
}
img#gbo25160{
	margin-bottom: 25px;
	margin-left: -4px;
}
img#glo25020{
	height: 40px;
	width: 379px;
	margin-right: -1px;
	margin-bottom: 5px;
	margin-left: -4px;
}
fieldset {
	background: url(../pics/bges04.gif);
	border: solid 1px #D3D3D3;
}
input#IdUsernameTxt, input#IdPasswordTxt, input#IdPwdTokenTxt {
}
input#IdSubmit {
	background-image: url(../pics/aceptar_of.gif);
	background-repeat: no-repeat;
        background-color: red;
}
button#IdCancelar {
	background-image: url(../pics/can_of.gif);
	background-repeat: no-repeat;
        background-color: red;
}
legend {
	border-bottom: dotted red 2px;
}
a#anclaAnterior {
	background: url(../pics/can_of.gif) no-repeat;
        background-color: red;
	width: 72px;
	height: 20px; 
        position: relative;
        left: 600px;
        top: -30px;
}


div#reglas { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
div#reglas h6 {
	font-size: 12px;
}
a#anclaAnterior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: white;
        text-decoration: none;
        text-align: left;
}
input#IdSubmit, button#IdCancelar {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
legend {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
span#spanUsuario {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
div#cuerpo h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

span#spanUsuario {
	position: relative;
	left: -550px; 	
 }
form#formaPrincipal {
	width: 590px;
	margin-left: 200px;
	padding-bottom: 20px;
	padding-top: 30px;
	padding-left: 5px;
	padding-right: 5px;
	height: 230px;
}
fieldset {
	position: relative;
	width:100%;
	height: 200px;
	top: -30px;
}
legend {
	position: relative;
	margin-top: -21px;
}
label#IdUsername {
	margin-left: 100px;
}
input#IdUsernameTxt {
	margin-top: 10px;
	margin-left: 52px;
        width: 100px;
}
label#IdPassword {
	margin-left: 100px;
}
input#IdPasswordTxt {
	margin-top: 5px;
	margin-left: 50px;
        width: 100px;
}
label#IdPwdToken {
	margin-left: 100px;
}
input#IdPwdTokenTxt {
	margin-top: 5px;
	margin-left: 30px;
        width: 100px;
}
input#IdSubmit, button#IdCancelar {
	width: 72px;
	height: 20px;
	margin-top: 20px;
} 
input#IdSubmit {
	margin-left: 150px;
	margin-right: 20px;
	position: relative;
	top: 95px;
	left: 150px;
}
div#reglas {
	margin-left: 30px;
	margin-top: 30px;
	position: relative;
	width: 400px;
}
input#IdSubmit {
	width: 72px;
	height: 20px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	margin-left: 300px;
}
.anclaAnterior {
	position: absolute;
	top: -30px;
	left: 500px;
	padding-left: 7px;
	padding-top: 5px;
	cursor: default;  
}
img#e7gif {
	position: relative;
	float: left;
	left: 198px;
	top: -48px;
	height: 4px;
	width: 4px;
}
img#barraFondo {
	width: 620px;
	height: 8px;
	position: relative;
	top: -60px;
	left: 40px;
}
img#e5gif {
	position: relative;
	width: 4px;
	height: 4px;
	float: right;
	left: -280px;
	top: -68px;
}
img#e8gif {
	position: relative;
	float: left;
	height: 302px;
	width: 5px;
	left: 40px;
	top: 10px;
}
img#e1gif {
	position: relative;
	float: left;
	left: 197px;
	top: 24px;
	width: 5px;
	height: 5px;
}
img#e2gif {
	height: 5px;
	width: 618px;
	position: relative;
	top: 15px;
	left: 40px;
}
img#e3gif {
	position: relative;
	float: right;
	left: -285px;
	top: 6px;
	width: 4px;
	height: 4px;
}
img#bordeDerecho {
	height: 302px;
	width: 5px;
	position: relative;
	float: right;
	top: -350px;
	left: -285px;
}
div#reglas h6 {
	margin-bottom: 0px;
}
div#cuerpo h5 {
	position: relative;
	float: right;
	width: 600px;
	padding-bottom: 5px; 
	border-bottom: red dotted 2px;
	left: -285px;
	top: 10px;
}

div#cuerpo h5#barraInferior {
	position: absolute;
	border-bottom: red dotted 2px;
	width: 600px;
	left: 85px;
	top: 350px;
}
hr#separador {
	position: relative;
	top: -60px;
	width: 620px;
	left: -110px;
}
.oculto {
   display: none;
}

div#cuerpo{
	margin-left:-150px;
}
