#protector {
  opacity: .3;
  filter:  alpha(opacity=30);
  z-index: 1000;
  position: absolute;
  background-color: #DCDCDC;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#pantalla {
  z-index: 1500;
  position: absolute;
  background-color: #EEEEEE;
  color: black;
  display: block;
  width: 150px;
  height: 200px;
  top: 150px;
  left: 40%;
  padding: 10px;
  border: rgb(0,102,255) 2px solid;
  border-top: solid 20px rgb(0,51,255);
}
#pantalla input {
  border: none;
}
#pantalla p {
  text-align: center;
  font-family: Arial;
  color: red;
}
a#anclaCerrar {
  display: block;
  background-color: rgb(204,102,153);
  color: white;
  width: 70px;
  border: solid 1px;
  cursor: pointer;
  margin-left: 2em;
  margin-top: 1em;
}

