
body{
	width: 950px;
	height: 500px;
	margin-left: 25px;
	margin-top: 0px;
	background-color: white;
	color: black;
}
#encabezado {
	height: 25%;
	width: 100%;
}
#logoCheque{
	height: 52px; 
	width: 225px;
	left: 550px;
	top: 10px;
}
#logoPrincipal {
	width: 276px;
	height: 105px;
	display: block;
	top: 60px;
	left: 300px;
}
#logoPrincipal, #hora, #fecha, #cuerpo, #formaPrincipal, #administracionContra, #IdSubmit, #IdCancelar, legend {
	position: relative;
}
span#fecha{
	left: 300px;
	top: 10px;
}
span#hora{
	top: 30px;
	left: 260px;
}
#cuerpo {
	width: 86%;
	top: 80px;
}
div#abajo {
	height: 130px;
}
fieldset {
	background-image: url("../picsChq/bges04.gif");
	height: 80px;
	width: 600px;
	border: none;
	border-top: red dotted 2px;
}
#formaPrincipal {
	left: 150px;
}
label {
	display: block;
	width: 150px;
}
input {
	display: block;
	width: 100px;
}
#IdPassword, #IdUsername {
	float: left;
	margin-left: 100px;
}
#administracionContra {
	display: block;
	top: 20px;
	left: 170px;
}
#IdSubmit, #IdCancelar {
	background-repeat: no-repeat;
	background-color: red;
	height: 20px;
	width: 72px;
	color: white;
	border: none;
	text-align: left;
}
input#IdSubmit {
	background-image: url(../picsChq/aceptar_of.gif);
	top: 40px;
	float: left;
	left: 200px;
}
input#IdCancelar {
	background-image: url(../picsChq/lin_of.GIF);
	top: 40px;
	left: 220px;
}
legend {
	bottom: 9px;
	display: block;
	border-bottom: red dotted 2px;
	color: red;
}

#e2gif {
	top: -20px;
	left: 130px;
	width: 670px;
	height: 5px;
}
#e1gif {
	width: 5px;
	height: 5px;
	top: -20px;
	left: 125px;
}
#e8gif {
	width: 5px;
	height: 230px;
	left: 125px;
	top: -15px;
}
#e7gif {
	height: 5px;
	width: 5px;
	top: 420px;
	left: 150px;
}
#barraFondo {
	height: 5px;
	width: 670px;
	top: 445px;
	left: 155px;
}
#e5gif {
	width: 5px;
	height: 5px;
	top: 420px;
	left: 825px;
}
#bordeDerecho {
	width: 5px;
	height: 230px;
	top: -15px;
	left: 800px;
}
#e3gif {
	width: 5px;
	height: 5px;
	top: -20px;
	left: 800px;
}
#e3gif, #bordeDerecho, #e5gif, #barraFondo, #e7gif, #e8gif, #e1gif, #e2gif, #logoCheque {
	display: block;
	position:absolute;
}

input#IdRegresar {
	position: relative;
	top: 36px;
	left: 220px;
	width: 72px;
	height: 20px;
	margin-top: 20px;
	margin-top: 5px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	background-image: url(../pics/can_of.gif);
	background-repeat: no-repeat;
}

div#finaliza {
	left: 735px; 
	top: -47px; 
	position: relative; 
	height: 20px; 
	width: 20px;
}