
body{
	width: 950px;
	height: 500px;
	margin-left: 25px;
	margin-top: 0px;
	background-color: white;
	color: black;
}
div#encabezado{
	width: 100%;
	height: 25%;
}

span#fecha{
   position: relative;
   top: 32px;
   left: 409px;
}
span#hora{
    position: relative;
    left: 384px;
	top: 51px;
}
div#cuerpo {
	margin-top: 50px;
}

div#abajo {
	height: 130px;
}

form#formaPrincipal {
	width: 600px;
	margin-left: 200px;
	padding-bottom: 20px;
	padding-top: 30px;
	margin-top: 20px;
	height: 230px;
	padding-left:5px; 
}
fieldset {
	padding-bottom: 40px;
}
label#IdUsername {
	margin-left: 100px;
}
input#IdUsernameTxt {
	margin: 5px;
        margin-left: 51px;
        width: 100px;
}
label#IdPassword {
	margin-left: 134px;
}
input#IdPasswordTxt {
	margin: 5px;
	margin-left: 51px;
        width: 100px;
}
label#IdPwdToken {
	margin-left: 100px;
}
input#IdPwdTokenTxt {
	margin: 5px;
	margin-left: 30px;
        width: 100px;
}
a#administracionToken {
	margin-left: 150px;
	padding: 10px;
	position: relative;
	top: 70px;
}
a#administracionContra {
	position: relative;
	top: 20px;
	left: -180px;
}
input#IdSubmit, input#IdCancelar {
	width: 72px;
	height: 20px;
	margin-top: 20px;
} 
input#IdSubmit {
	position: relative;
	top: 20px;
	left: 200px;
}
input#IdCancelar {
	position: relative;
	top: 20px;
	left: 220px;
}

legend {
	position: relative;
	margin-top: -21px;
	padding-bottom: 5px;
}
img#bordeDerecho {
	height: 221px;
	width: 5px;
	position: relative;
	float: right;
	top: -293px;
	left: -140px;
}
img#barraFondo {
	width: 604px;
	height: 8px;
	position: relative;
	top: -73px;
	left: 197px;
}
img#e7gif {
	position: relative;
	float: left;
	left: 197px;
	top: -72px;
}
img#e5gif {
	position: relative;
	float: right;
	left: -134px;
	top: -80px;
	width: 5px;
	height: 5px;
}
img#e1gif {
	position: relative;
	float: left;
	left: 198px;
	top: 7px;
}
img#e2gif {
	height: 5px;
	width: 600px;
	position: relative;
	top: 8px;
	left: 198px;
}
img#e3gif {
	position: relative;
	float: right;
	left: -141px;
	top: 2px;
}
img#e8gif {
	position: relative;
	float: left;
	height: 221px;
	width: 5px;
	left: 197px;
	top: 7px;
}

span#hora, span#fecha { 
	font-size: 11px; 
	color: #000000; 
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
} 
label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
legend {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a#administracionContra, a#administracionToken {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
input#IdSubmit {
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
}
input#IdCancelar {
	margin-top: 5px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
}



fieldset {
	background: url(../picsChq/bges04.gif);
	width: 96%;
	height: 29px;
	border-top: dotted 2px red;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
input#IdUsernameTxt, input#IdPasswordTxt, input#IdPwdTokenTxt {
}
input#IdSubmit {
	background-image: url(../picsChq/aceptar_of.gif);
	background-repeat: no-repeat;
	background-color: red;
}
input#IdCancelar {
	background-image: url(../picsChq/lin_of.GIF);
	background-repeat: no-repeat;
		background-color: red;
}
legend {
	border-bottom: dotted 2px;
}
a#gbo25170img, a#gbo25180img {
	border: none;
}
img#gbo25170, img#gbo25180 {
	border: none;
}
.oculto {
   display: none;
}

#bienvenida {
	position: absolute;
	top: 107px;
	left: 274px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
}

#logoPrincipal {
	position: absolute;;
	width: 276px;
	height: 105px;
	display: block;
	top: 100px;
	left: 376px;
}
#logoCheque{
	position: absolute; 
	height: 52px; 
	width: 225px; 
	left: 667px; 
	top: 27px;
}

input#IdRegresar {
	position: relative;
	top: 20px;
	left: 220px;
	width: 72px;
	height: 20px;
	margin-top: 20px;
	margin-top: 5px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	background-image: url(../picsChq/can_of.gif);
	background-repeat: no-repeat;
}

div#finaliza {
	left: 750px; 
	top: -30px; 
	position: relative; 
	height: 20px; 
	width: 20px;
}
