
body{
	width: 950px;
	height: 500px;
	margin-left: 25px;
	margin-top: 0px;
}
div#encabezado{
	width: 100%;
	height: 25%;
}

input#IdRegresar {
	position: relative;
	top: 60px;
	left: 200px;
	height: 20px;
    margin-top: 20px;
    width: 72px;
	margin-top: 5px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	background-image: url(../picsChq/can_of.gif);
	background-repeat: no-repeat;
	background-color: red;
}

span#fecha{
	position: relative;
	top: 20px;
	left: 428px;
}
span#hora{
	position: relative;
	left: 400px;
	top: 40px;
}


div#cuerpo {
	margin-top: 70px;
	*margin-top: -28px;/* IE7 e inferiores */
}

div#abajo {
	height: 130px;
	*height: 100px;/* IE7 e inferiores */
}

form#formaPrincipal {
	width: 600px;
	margin-left: 200px;
	padding-bottom: 20px;
	padding-top: 30px;
	margin-top: 20px;
	height: 230px;
}
label#IdUsername {
	margin-left: 100px;
}
input#IdUsernameTxt {
	margin: 5px;
	margin-left: 53px;
        width: 100px;
}
label#IdPassword {
	margin-left: 132px;
}
input#IdPasswordTxt {
	margin: 5px;
	margin-left: 53px;
    width: 100px;
}
label#IdPwdToken {
	margin-left: 100px;
}
input#IdPwdTokenTxt {
	margin: 5px;
	margin-left: 30px;
}

a#administracionContra {
	position: relative;
	top: 40px;
	left: 200px;
	display: block;
}
input#IdSubmit, input#IdCancelar {
	width: 72px;
	height: 20px;
	margin-top: -20px;
} 
input#IdSubmit {
	position: relative;
	top: 60px;
	left: 200px;
}
input#IdCancelar { 
	position: relative;
	top: 60px;
	left: 220px;
}

legend {
	position: relative;
	margin-top: -21px;
	padding-bottom: 5px;
}
img#bordeDerecho {
	height: 254px;
	width: 5px;
	position: relative;
	float: right;
	top: -316px;
	left: -165px;
}
img#barraFondo {
	width: 581px;
	height: 8px;
	position: relative;
	top: -70px;
	left: 197px;
}
img#e7gif {
	position: relative;
	float: left;
	left: 197px;
	top: -64px;
}
img#e5gif {
	position: relative;
	width: 5px;
	height: 5px;
	float: right;
	left: -159px;
	top: -82px;
}
img#e1gif {
	position: relative;
	float: left;
	left: 198px;
	top: 19px;
}
img#e2gif {
	height: 5px;
	width: 575px;
	position: relative;
	top: 8px;
	left: 198px;
}
img#e3gif {
	position: relative;
	float: right;
	left: -166px;
	top: -1px;
}
img#e8gif {
	position: relative;
	float: left;
	height: 251px;
	width: 5px;
	left: 197px;
	top: 6px;
}

span#hora, span#fecha { 
	font-size: 11px; 
	color: #000000; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
} 
label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
legend {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a#administracionContra, a#administracionToken {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
input#IdSubmit {
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
}
input#IdCancelar {
	margin-top: 5px;
	text-align: left;
	padding-left: 6px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
}



fieldset {
	background: url(../picsChq/bges04.gif);
	width: 97.5%;
	border-top: dotted 2px red;
	border-left: none;
	border-right: none;
	border-bottom: none;
	height: 120px;
	position:relative;
}
input#IdSubmit {
	background-image: url(../picsChq/aceptar_of.gif);
	
	background-repeat: no-repeat;
         background-color: red;
}
input#IdCancelar {
	background-image: url(../picsChq/lin_of.GIF);
	background-repeat: no-repeat;
        background-color: red;
}
legend {
	border-bottom: none;
}
a#gbo25170img, a#gbo25180img {
	border: none;
}
img#gbo25170, img#gbo25180 {
	border: none;
}
.oculto {
    display: none;
}
#logoPrincipal {
	position: absolute;;
	width: 276px;
	height: 105px;
	display: block;
	top: 100px;
	left: 376px;
}
#logoCheque{
	position: absolute; 
	height: 52px; 
	width: 225px; 
	left: 667px; 
	top: 27px;
}

div#finaliza {
	left: 730px; 
	top: -40px; 
	position: relative; 
	height: 20px; 
	width: 20px;
}
