body {
        margin: 0;
        background-color: white;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
}
#cuerpo {
        top: 150px;
        position: relative;
}
#cuerpo p {
        background-image: url('../picsChq/bges04.gif');
        position: relative;
        border: none;
        height: 145px;
        width: 590px;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        top: 100px;
        padding-top: 50px;
        left: 200px;
        text-align: center;
        border: solid 1px #F0E6FA;
        padding-left: 5px;
        padding-right: 5px;
}
#anclaRegresar {
        display: block;
        padding: 3px 10px 3px 10px;
        width: 80px;
        background-color: red;
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        position: relative;
        top: 100px;
        left: 600px;
        border: outset 1px black;
}

#e2gif {
        top: 20px;
        left: 187px;
        width: 634px;
        height: 5px;
}
#e1gif {
        width: 5px;
        height: 5px;
        top: 20px;
        left: 182px;
}
#e8gif {
        width: 5px;
        height: 355px;
        left: 182px;
        top: 25px;
}
#e7gif {
        height: 5px;
        width: 5px;
        top: 379px;
        left: 182px;
}
#barraFondo {
        height: 5px;
        width: 635px;
        top: 379px;
        left: 186px;
}
#e5gif {
        width: 5px;
        height: 5px;
        top: 378px;
        left: 821px;
}
#bordeDerecho {
        width: 5px;
        height: 355px;
        top: 23px;
        left: 820px;
}
#e3gif {
        width: 5px;
        height: 5px;
        top: 20px;
        left: 821px;
}
#e3gif, #bordeDerecho, #e5gif, #barraFondo, #e7gif, #e8gif, #e1gif, #e2gif, #logoCheque {
        display: block;
        position:absolute;
}
div#encabezado{
        width: 100%;
        height: 25%;
}
#logoPrincipal {
        position: absolute;;
        width: 276px;
        height: 105px;
        display: block;
        top: 100px;
        left: 376px;
}
#logoCheque{
        position: absolute;
        height: 52px;
        width: 225px;
        left: 667px;
        top: 27px;
}

