body  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	color: #333333;
}
div#cuerpo  {
	margin-left: 250px;
	margin-top: 100px;
	width: 500px;
	background-color: #ebebeb;
	height: 200px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	text-align: center;
	border: solid #E6E6FA 3px;
	padding-top: 50px;
}



div#logoEnlace  {
	background: url(/pics/logo_enlace.gif);
	width: 215px;
	height: 53px;
}
div#logoSantander  {
	background: url(/pics/santander_serfin.gif);
	width: 555px;
	height: 34px;
	float: right;
	position: relative;
	top: -53px;
}
div#barra  {
	background: url(/pics/e1.gif);
	top: 0px;
}
div#piemenu  { 
	text-align: center;
	margin-top: 10px;
	margin-left: 250px;
	height: 20px;
	width: 500px;
}
div#encabezado {
	width: 1000px;
	height: 100px;
}
img#glo25010 {
	margin-bottom: 4px;
}
a#gbo25110a {
	border: none;
	text-decoration: none;
}
img#gbo25110 {
	border: none;
	width: 30px;
	height: 32px;
	margin-bottom: 13px;
	margin-left: -4px;
}
img#gbo25120 {
	margin-bottom: 2.5%;
	margin-left: -0.4%;
	width: 6%;
}
a#gbo25130a {
	border: none;
	text-decoration: none;
	width: 5%;
}
img#gbo25130 {
	border: none;
	width: 35px;
	height: 32px;
	margin-bottom: 13px;
        margin-left: -3px;
}
img#gbo25140 {
	margin-bottom: 2.5%;
        margin-left: -4px;
	width: 9%;
}
a#gbo25150a {
	border: none;
	text-decoration: none;
	width: 5%;
}
img#gbo25150 {
	border: none;
	width: 35px;
	height: 32px;
	margin-bottom: 13px;
        margin-left: -4px;
}
img#gbo25160 {
	margin-bottom: 2.4%;
	margin-left: -4px; 
	width: 9.6%;
}
img#glo25020 {
	width: 42%;
	height: 44px;
	margin-left: -.4%;
	margin-bottom: .1%;


}
a {
   font-weight: bold;
}
