a{
	cursor: pointer;
	text-decoration: none;
}

#backgroundPopup{
	display: none;
	position: fixed;
	_position: absolute; /* hack para internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 1;
}

#popupContainer, #contenidoExporta{
	display: none;
	position: fixed;
	_position: absolute; /* hack para internet explorer 6*/
	height: auto;
	width: auto;
	background: #FFFFFF;
	border: 2px solid #cecece;
	z-index: 2;
	/*padding: 12px;*/
	/*font-size: 13px;*/
}

#popupContainer h1{
	text-align: left;
	color: #FF0000;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px dotted #D3D3D3;
	padding-bottom: 2px;
	margin-bottom: 20px;
}

#popupTitle{
	background: #FFFFFF;
	cursor: move;
}

#popupClose{
	text-align: right;
	font-size: 14px;
	line-height: 14px;
	color: #FF0000;
	font-weight: 700;
	right: 6px;
	top: -2px;
	position: absolute;
	cursor: pointer;
}

#ninja {
   background-color:#111;
   opacity: 0.65; 
   filter: alpha(opacity = 65); /*hack para IE*/
   position:absolute;
   z-index: 9009;
   top:0px; 
   left:0px; 
   width:100%;
}

#ninja img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 32px;
   height: 32px;
   margin-top: -16px; /* Half the height */
   margin-left: -16px; /* Half the width */
}
