/* CSS Documento */

body {
	background-image: url(../SAMpics/bg_top_pagina.gif);
	width: 950px;
	height: 800px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	color: #333333;
	background-color: #FFFFFF;
}
div#encabezado{
        width: 100%;
        height: 25%;
}
img#logo150 {
        float: left;
        top: 1pt;
        left: -8pt;
        position: relative;
}

img#loginSN {
        left:382px;
        position:relative;
}

.bgblanco {
	background-color: #FFFFFF;
}
.anchotabla {
	width: 770px;
	background-color: #FFFFFF;
	border: none;
}
.e2 {
	background-image: url(../SAMpics/e2.gif);
}
.e4 {
	background-image: url(../SAMpics/e4.gif);
}
.e6 {
	background-image: url(../SAMpics/e6.gif);
}
.e8 {
	background-image: url(../SAMpics/e8.gif);
}
.titulopagina {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #EF3830;
	padding-left: 5px;
}
.lineatitulo {
	background-image: url(../SAMpics/fil.gif);
}
.bgactivo {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.bgtablafooter {
	border-top: 1px solid #E3E3E3;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.btn1off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	height: 20px;
	background-color: #B6B6B6;
	background-image: url(../SAMpics/bg_btn11.gif);
	border: none;
	padding: 0px;
	cursor: hand;
	background-repeat: no-repeat;
	width: 72px;
	margin-right: 2px;
	margin-left: 2px;
}
.btn1on {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	height: 20px;
	background-image: url(../SAMpics/bg_btn1.gif);
	border: none;
	padding: 0px;
	cursor: hand;
	width: 72px;
	margin-right: 2px;
	margin-left: 2px;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
