.titpag {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-style: italic; font-weight: bold; color: #003366}
.texencrut {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #999999;
	text-decoration: none;
}
.texencfec {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #000000}
.texenchor { font-family: Arial, Helvetica, sans-serif; font-size: 11px;  font-weight: bold; color: #000000}
.texenccon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.texencconbol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}
.tittabdat {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #A4BEE4}
.textabdatobs { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; background-color: #CCCCCC}
.textabdatcla { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; background-color: #EBEBEB}
.tabfonbla {  background-color: #FFFFFF}
.tabfonazu { background-color: #A4BEE4}
.tittabtotcla { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #EBEBEB}
.tittabtotobs { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #CCCCCC}

.tabmovtex { font-family: Arial, Helvetica, sans-serif; font-size: 10px}
.textabref { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}
.tittabcom { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.textabcom { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}
.titenccom { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #003366 }
.tabmovtexbol { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.texliganeg { font-family: Arial, Helvetica, sans-serif; font-size: 10px ; text-decoration: underline; background-color: #CCCCCC}
.texfootpagneg { font-family: Arial, Helvetica, sans-serif; font-size: 11px }
.texfootpaggri { font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #999999 }
.titadmcont { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: italic; font-weight: bold; color: #000000}
.tabmovtex11 { font-family: Arial, Helvetica, sans-serif; font-size: 11px}
.texresalbol { font-family: Arial, Helvetica, sans-serif; font-size: 10px ; font-weight: bold }
.tabmovbro { font-family: Arial, Helvetica, sans-serif; font-size: 11.5px}
.tittabcenazu { font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #34689A; color: #FFFFFF}
.textabcen { font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; background-color: #E5E5E5}
.tabtexcal { font-family: Arial, Helvetica, sans-serif; font-size: 11px ; text-decoration: none; color: #000000}
.tabtexcal2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px ; text-decoration: none; color: #FF0000}
.textittab {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; background-color: #DDDDDD}
.tabmovtex1 { font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.texencconx {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000}
.combos {
	font-size: 20px;
}
.textabdatosc {
font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; background-color: #EBEBEB
}